<%= form_tag("/pages/search", method: "get", remote: true) do %>
  <%= label_tag(:q, "Please ask a yes or no question. 
  For example: Is the sky blue?") %> <br>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<div id="result"></div>